.topbar {
    font-size: 13px;
    background: #f8f8f8;
    border-bottom: 1px solid #eee;
}

.topbar select {
    border: none;
    background: transparent;
    font-size: 13px;
}

.topbar i {
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
}

.header-middle {
    padding: 22px 0;
}

.logo {
    font-size: 32px;
    font-weight: 700;
    color: #111;
}

.search-box {
    max-width: 520px;
}

.search-box input {
    border-radius: 50px 0 0 50px;
    padding-left: 20px;
}

.search-box button {
    border-radius: 0 50px 50px 0;
    background: #4caf50;
    border: none;
    padding: 0 22px;
}


.header-icons {
    font-size: 14px;
}

.header-icons i {
    font-size: 18px;
    margin-left: 15px;
    cursor: pointer;
}

.main-nav {
    background: #fff;
    border-top: 1px solid #eee;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}


.category-btn {
    background: #4caf50;
    color: #fff;
    padding: 12px 26px;
    font-weight: 500;
    border: none;
    border-radius: 10px 10px 0 0;
    margin-bottom: -2px;
    position: relative;
    z-index: 10;

    box-shadow: 0 6px 15px rgba(76, 175, 80, 0.45);
}

.previous-price {
    text-decoration: line-through;
    color: gray;
    margin-right: 5px;
}

.category-btn i {
    margin-right: 8px;
}


.navbar-collapse {
    justify-content: center;
}

.navbar-nav .nav-link {
    font-weight: 500;
    padding: 15px 18px;
    color: #222;
    position: relative;
}


.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 50%;
    bottom: 8px;
    background: #4caf50;
    transform: translateX(-50%);
    transition: 0.3s;
}

.navbar-nav .nav-link:hover::after {
    width: 60%;
}

.navbar-nav .nav-link:hover {
    color: #4caf50;
}


.support-box {
    font-size: 13px;
    color: #555;
}

.support-box i {
    font-size: 28px;
    color: #4caf50;
}

.product-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    background-color: #f0f0f0;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-title {
    min-height: 3rem;
}


.price-block {
    min-height: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.category-text {
    margin-top: auto;
    font-size: 0.9rem;
    color: #555;
}

@media (max-width: 991px) {
    .search-box {
        margin: 15px 0;
    }

    .header-icons {
        justify-content: center;
        margin-top: 10px;
    }

    .category-btn {
        margin-bottom: -1px;
        margin-top: 5px;

    }

    .card .btn {
    white-space: nowrap; /* prevent text wrapping */
    min-width: 120px; /* minimum width */
}

}